<body style="background-image: url('https://i.pinimg.com/736x/39/41/8f/39418fc243f36ed2e972f162190e89a8.jpg');
display:flex;justify-content:center;align-items:center;">

    <a href="{% url 'tutorial_app:questions' %}">
        <div style="background: rgba(0,0,0,0.7);border: white double 10px; width: 300px; height: 100px; 
        display:flex;justify-content:center;align-items:center;margin:50px">
            <h1>
                Tech Q&A
            </h1>
        </div>
    </a>
    
    
    <a href="{% url 'tutorial_app:social' %}">
        <div style="background: rgba(0,0,0,0.7);border: white double 10px; width: 300px; height: 100px; 
        display:flex;justify-content:center;align-items:center;margin:50px">
            <h1>
                Sociotechnical Issues
            </h1>
        </div>
    </a>
    
</body>
    
    